Calibration_files/text.txt
Calibration_files/calibration_images/img_0000.jpg
Calibration_files/calibration_images/img_0001.jpg
Calibration_files/calibration_images/img_0002.jpg
Calibration_files/calibration_images/img_0003.jpg
Calibration_files/calibration_images/img_0004.jpg
Calibration_files/calibration_images/img_0005.jpg
Calibration_files/calibration_images/img_0006.jpg
Calibration_files/calibration_images/img_0007.jpg
Calibration_files/calibration_images/img_0008.jpg
Calibration_files/calibration_images/img_0009.jpg
Calibration_files/calibration_images/img_0010.jpg
Calibration_files/calibration_images/img_0011.jpg
Calibration_files/calibration_images/img_0012.jpg
Calibration_files/calibration_images/img_0013.jpg
Calibration_files/calibration_images/img_0014.jpg
Calibration_files/calibration_images/img_0015.jpg
Calibration_files/calibration_images/img_0016.jpg
Calibration_files/calibration_images/img_0017.jpg
Calibration_files/calibration_images/img_0018.jpg
Calibration_files/calibration_images/img_0019.jpg
push the cube/Touch the cube/ppo_soarm_general.zip
push the cube/Touch the cube/ppo_soarm_push.zip
push the cube/Touch the cube/ppo_soarm_stage_0.zip
push the cube/Touch the cube/ppo_soarm_stage_1.zip
push the cube/Touch the cube/ppo_soarm_stage_2.zip
push the cube/Touch the cube/push_rollout.mp4
push the cube/Touch the cube/robot_controller.py
push the cube/Touch the cube/so_arm_curriculum_env.py
push the cube/Touch the cube/train_ppo_pick_place.py
push the cube/Touch the cube/verify_env.py
push the cube/Touch the cube/__pycache__/live_view_callback.cpython-310.pyc
push the cube/Touch the cube/__pycache__/so_arm_curriculum_env.cpython-38.pyc
push the cube/Touch the cube/__pycache__/so_arm_lift_env.cpython-310.pyc
push the cube/Touch the cube/__pycache__/so_arm_pick_env.cpython-310.pyc
push the cube/Touch the cube/__pycache__/so_arm_pick_place_env.cpython-38.pyc
push the cube/Touch the cube/__pycache__/so_arm_place_env.cpython-310.pyc
push the cube/Touch the cube/__pycache__/so_arm_push_env.cpython-38.pyc
push the cube/Touch the cube/__pycache__/so_arm_push_env.cpython-310.pyc
push the cube/Touch the cube/__pycache__/so_arm_push_env.cpython-312.pyc
push the cube/Touch the cube/__pycache__/so_arm_simple_env.cpython-38.pyc
push the cube/Touch the cube/__pycache__/so_arm_simple_env.cpython-310.pyc
push the cube/Touch the cube/__pycache__/so_arm_simple_env.cpython-312.pyc
push the cube/Touch the cube/assets/Base_Motor.stl
push the cube/Touch the cube/assets/Base.stl
push the cube/Touch the cube/assets/Fixed_Jaw_Collision_1.stl
push the cube/Touch the cube/assets/Fixed_Jaw_Collision_2.stl
push the cube/Touch the cube/assets/Fixed_Jaw_Motor.stl
push the cube/Touch the cube/assets/Fixed_Jaw.stl
push the cube/Touch the cube/assets/Lower_Arm_Motor.stl
push the cube/Touch the cube/assets/Lower_Arm.stl
push the cube/Touch the cube/assets/Moving_Jaw_Collision_1.stl
push the cube/Touch the cube/assets/Moving_Jaw_Collision_2.stl
push the cube/Touch the cube/assets/Moving_Jaw_Collision_3.stl
push the cube/Touch the cube/assets/Moving_Jaw.stl
push the cube/Touch the cube/assets/Rotation_Pitch_Motor.stl
push the cube/Touch the cube/assets/Rotation_Pitch.stl
push the cube/Touch the cube/assets/Upper_Arm_Motor.stl
push the cube/Touch the cube/assets/Upper_Arm.stl
push the cube/Touch the cube/assets/Wrist_Pitch_Roll_Motor.stl
push the cube/Touch the cube/assets/Wrist_Pitch_Roll.stl
push the cube/Touch the cube/checkpoints_curriculum/ppo_pick_curriculum_50000_steps.zip
push the cube/Touch the cube/checkpoints_curriculum/ppo_pick_curriculum_100000_steps.zip
push the cube/Touch the cube/checkpoints_curriculum/ppo_pick_curriculum_150000_steps.zip
push the cube/Touch the cube/checkpoints_curriculum/ppo_pick_curriculum_200000_steps.zip
push the cube/Touch the cube/checkpoints_curriculum/ppo_pick_curriculum_250000_steps.zip
push the cube/Touch the cube/checkpoints_curriculum/ppo_pick_curriculum_300000_steps.zip
push the cube/Touch the cube/checkpoints_curriculum/ppo_pick_curriculum_350000_steps.zip
push the cube/Touch the cube/checkpoints_curriculum/ppo_pick_curriculum_400000_steps.zip
push the cube/Touch the cube/checkpoints_curriculum/ppo_pick_curriculum_450000_steps.zip
push the cube/Touch the cube/checkpoints_curriculum/ppo_pick_curriculum_500000_steps.zip
push the cube/Touch the cube/checkpoints_curriculum/ppo_pick_curriculum_550000_steps.zip
push the cube/Touch the cube/checkpoints_curriculum/ppo_pick_curriculum_600000_steps.zip
push the cube/Touch the cube/checkpoints_curriculum/ppo_pick_curriculum_650000_steps.zip
push the cube/Touch the cube/checkpoints_curriculum/ppo_pick_curriculum_700000_steps.zip
push the cube/Touch the cube/checkpoints_curriculum/ppo_pick_curriculum_750000_steps.zip
push the cube/Touch the cube/checkpoints_curriculum/ppo_pick_curriculum_800000_steps.zip
push the cube/Touch the cube/checkpoints_curriculum/ppo_pick_curriculum_850000_steps.zip
push the cube/Touch the cube/checkpoints_curriculum/ppo_pick_curriculum_900000_steps.zip
push the cube/Touch the cube/checkpoints_curriculum/ppo_pick_curriculum_950000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_100000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_200000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_300000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_400000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_500000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_600000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_700000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_800000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_900000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_1000000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_1100000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_1200000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_1300000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_1400000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_1500000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_1600000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_1700000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_1800000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_1900000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_2000000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_2100000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_2200000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_2300000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_2400000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_2500000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_2600000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_2700000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_2800000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_2900000_steps.zip
push the cube/Touch the cube/checkpoints_general/ppo_general_3000000_steps.zip
push the cube/Touch the cube/checkpoints_push/ppo_push_50000_steps.zip
push the cube/Touch the cube/checkpoints_push/ppo_push_100000_steps.zip
push the cube/Touch the cube/checkpoints_push/ppo_push_150000_steps.zip
push the cube/Touch the cube/checkpoints_push/ppo_push_200000_steps.zip
push the cube/Touch the cube/checkpoints_push/ppo_push_250000_steps.zip
push the cube/Touch the cube/checkpoints_push/ppo_push_300000_steps.zip
push the cube/Touch the cube/checkpoints_push/ppo_push_350000_steps.zip
push the cube/Touch the cube/checkpoints_push/ppo_push_400000_steps.zip
push the cube/Touch the cube/checkpoints_push/ppo_push_450000_steps.zip
push the cube/Touch the cube/checkpoints_push/ppo_push_500000_steps.zip
push the cube/Touch the cube/checkpoints_push/ppo_push_550000_steps.zip
push the cube/Touch the cube/checkpoints_push/ppo_push_600000_steps.zip
push the cube/Touch the cube/checkpoints_push/ppo_push_650000_steps.zip
push the cube/Touch the cube/checkpoints_push/ppo_push_700000_steps.zip
push the cube/Touch the cube/checkpoints_push/ppo_push_750000_steps.zip
push the cube/Touch the cube/checkpoints_push/ppo_push_800000_steps.zip
push the cube/Touch the cube/checkpoints_push/ppo_push_850000_steps.zip
push the cube/Touch the cube/checkpoints_push/ppo_push_900000_steps.zip
push the cube/Touch the cube/checkpoints_push/ppo_push_950000_steps.zip
push the cube/Touch the cube/checkpoints_push/ppo_push_1000000_steps.zip
push the cube/Touch the cube/tb_pick_place_curriculum/PPO_0/events.out.tfevents.1769611464.DESKTOP-9NGVEQ7.29032.0
push the cube/Touch the cube/tb_pick_place_curriculum/PPO_0/events.out.tfevents.1769611762.DESKTOP-9NGVEQ7.29032.1
push the cube/Touch the cube/tb_pick_place_ppo/PPO_1/events.out.tfevents.1769607597.DESKTOP-9NGVEQ7.3788.0
push the cube/Touch the cube/tb_pick_place_ppo/PPO_2/events.out.tfevents.1769607816.DESKTOP-9NGVEQ7.25768.0
push the cube/Touch the cube/tb_push_general/PPO_1/events.out.tfevents.1769564870.DESKTOP-9NGVEQ7.22452.0
push the cube/Touch the cube/tb_push_general/PPO_2/events.out.tfevents.1769565065.DESKTOP-9NGVEQ7.9684.0
push the cube/Touch the cube/tb_push_ppo/PPO_1/events.out.tfevents.1768331625.salblooshi-ThinkPad-P1-Gen-5.10538.0
push the cube/Touch the cube/tb_push_ppo/PPO_2/events.out.tfevents.1768332572.salblooshi-ThinkPad-P1-Gen-5.10976.0
push the cube/Touch the cube/tb_push_ppo/PPO_3/events.out.tfevents.1768334269.salblooshi-ThinkPad-P1-Gen-5.11459.0
push the cube/Touch the cube/tb_push_ppo/PPO_4/events.out.tfevents.1769541226.DESKTOP-9NGVEQ7.9116.0
